@model string


<div class="alert alert-warning">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>@Model</strong>
</div>
@*
<div style="padding: 5px;">
	<div id="inner-message" class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4><font color="red">@Model</font></h4>
	</div>
</div>
*@