@using FreeLance.Controllers
@model FreeLance.Models.ContractModels
    
<button class="btn btn-info" onclick="checkContractIsApprovable(@Model.ContractId)">Подтвердить контракт</button>

@{
    var dialogName = "modalDialog" + Model.ContractId;
    var contentName = "modalContent" + Model.ContractId;
}
<div class="modal fade" id="@dialogName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="@contentName">
        </div>
    </div>
</div>



