@model int
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coordinator's Home</title>
</head>
<body>
    @Html.ActionLink(Model.ToString() + " неподтвержденных работодателей", "EmployerApprovationList")
</body>
</html>
