
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coordinator's Home</title>
</head>
<body>
    <div> 
        <h1>
            Please, wait...
        </h1>
    </div>
</body>
</html>
