@model FreeLance.Controllers.CoordinatorController.LawFacesViewModel
@{
    ViewBag.Title = "Юрлица";
    ViewBag.MenuPick = "LawFaces";
}
<!DOCTYPE html>

<div class="col-md-10">
    <h2>Список юрлиц</h2><br/>
    <ul>
   @foreach (var lawFaceView in Model.LawFaceViews)
   {
       <li>
           <span>@lawFaceView.LawFace.Name</span>
           <ul>
               @foreach (var template in lawFaceView.LawContractTemplates)
               {
                   <li>@template.Name</li>
               }

           </ul>
           @Html.ActionLink("Добавить Шаблон", "AddLawContractTemplate", new {lawFaceId = lawFaceView.LawFace.Id})
           
       </li>
   }
        </ul>

    </div>
