@model FreeLance.Controllers.CoordinatorController.LawFacesViewModel
@{
    ViewBag.Title = "Юрлица";
    ViewBag.MenuPick = "LawFaces";
}


<div class="col-md-10">
    <h2>Список юрлиц</h2>
    <p>
        <a href="@Url.Action("AddLawFace", "Coordinator")"
           class="btn btn-info"
           style="margin-top: 5px;">
            <span class="glyphicon glyphicon-plus"></span>
            Новое Юрлицо
        </a>
    </p>

    @foreach (var lawFaceView in Model.LawFaces)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><a href="/LawFace/@lawFaceView.Id">@lawFaceView.Name</a></h4>
            </div>
        </div>
    }
</div>







