@model FreeLance.Controllers.CoordinatorController.LawFacesViewModel
@{
    ViewBag.Title = "Юрлица";
    ViewBag.MenuPick = "LawFaces";
}
<!DOCTYPE html>

<div class="col-md-10">
    <h2>Список юрлиц</h2><br />
   

    </div>
