@model FreeLance.Models.ApplicationUser

<div class="panel panel-default">
    <div class="panel-heading"><b>@Model.FIO</b> <span class="pull-right"> @Model.Email</span></div>
    <div class="panel-body">

    </div>
    <div class="panel-footer">
        <a class="btn btn-danger">Заблокировать</a>
        <a class="btn btn-success pull-right">Допустить в систему</a>
 </div>
</div>