@model FreeLance.Controllers.FreelancerController.DetailsView
@{
    ViewBag.Title = "Подробная информация об исполнителею Профиль";
}

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
		@input
}
else
{
		@input.Substring(0, length)<text>...</text>
}
}

@section css {
	<link rel="stylesheet" href="~/Content/jquery.raty.css">
}

@section PageScripts{
	<!-- Include Raty JS file -->
	<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.raty.js"></script>
}


<div class="row">
    <div class="col-md-2">
        <img src="~/Files/profile_pic.jpg" class="img-thumbnail" style="margin-top: 20px;">
    </div>
    <div class="col-md-10">
        <h2><strong>@Model.freelancer.FIO</strong></h2>
        @if (Model.freelancer.PhoneNumber != null)
        {
            <p>@Model.freelancer.PhoneNumber</p>
        }
        <p>@Model.freelancer.Email</p>
        
        <div class="stars" data-score=@Model.Rate.ToString().Replace(",", ".")></div>
        
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Профиль</a></li>
        <li role="presentation"><a href="/Freelancer/Problems/@Model.freelancer.Id">Задачи</a></li>
        <li role="presentation"><a href="/Freelancers/Reviews">Отзывы</a></li>
    </ul>
</div>



@{
    <script>
        $(function () {
            $(".stars").each(function () {
                $(this).raty({
                    path: "../../Content/images",
                    readOnly: true,
                    score: function () {
                        return $(this).attr('data-score');
                    }
                });
            });
        });
    </script>
}