@model FreeLance.Models.DocumentPackageModels
@{
	string documentsUrl = "/Coordinator/ViewFreelancerDocuments/" + @Model.Freelancer.Id;
 }

<div class="panel panel-default">
    <div class="panel-heading">
		<div style="display: flex; justify-content:space-between; align-items: center;">
			<b>@Model.Freelancer.FIO</b>
			<a class="btn  btn-info pull-right" href="/Freelancer/Details/@Model.Freelancer.Id">Перейти к документам</a>
		</div>
	</div>
</div>