@model FreeLance.Models.DocumentPackageModels

<div class="panel panel-default">
    <div class="panel-heading"><b>@Model.Freelancer.FIO</b> </div>
    <div class="panel-body">
        <span class="left-category">Телефон: </span>
        <span class="right-category"> @Model.General.Phone  </span> <br/>
        <span class="left-category">Адрес: </span>
        <span class="right-category"> @Model.Passport.Address  </span> <br/>
        <span class="left-category">Детали оплаты:  </span>
        <span class="right-category"> @Model.Bank.Account  </span> <br />
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("ApproveDocuments", "Coordinator", new { docId = Model.Id, value = false }, FormMethod.Post, new {style = "display:inline-block"}))
        {
        <input  type="submit" value="Отклонить" class="btn btn-danger" />
        }
        <a class="pull-right">
            @using (Html.BeginForm("ApproveDocuments", "Coordinator", new { docId = Model.Id, value = true }, FormMethod.Post))
            {
                <input type="submit" value="Одобрить" class="btn btn-success" />
            }
        </a>

    </div>
</div>