@{
    ViewBag.Title = "Профиль";
	ViewBag.MenuPick = "Profile";
}
<h2>Профиль</h2>
<p> <strong>Электронная почта: </strong>
    @{  if (Context.User.Identity.IsAuthenticated)
            {
            @User.Identity.Name
        }
        else
        {
            @Html.Display("You are not registered!");
            }
    }
</p>

<p> <strong>Всего подписок: </strong> @ViewBag.subscriptionsSize </p>
<p> <strong>Всего контрактов: </strong> @ViewBag.contractsSize</p>

