@model IEnumerable<FreeLance.Controllers.EmployerController.ArchivedContractViewModel>
@{
    ViewBag.Title = "Архив";
}

<h2>@ViewBag.Title</h2>
<h3>Выполненные контракты</h3>
<div class="list-group">
	@foreach (var contract in Model)
	{
		<a href="/Problem/Details/@contract.ContractId" class="list-group-item">
			<h4 class="list-group-item-heading">@contract.Name</h4>
			<p class="list-group-item-text"> @contract.FreelancerName</p>
		</a>
	}
</div>
