@model FreeLance.Models.ApplicationUser

<div class="panel panel-default">
    <div class="panel-heading"><b>@Model.FIO</b> <span class="pull-right"> @Model.Email</span></div>
    <div class="panel-body">


    </div>
    <div class="panel-footer"> 


        @using (Html.BeginForm("ApproveUserByCoordinator", "Coordinator", new { userId = Model.Id, value = false },
            FormMethod.Post, new  { style= "display:inline-block;  "}))
        {
            <input type="submit" value="Заблокировать" class="btn btn-danger" />
        }

        <a class="pull-right">
            @using (Html.BeginForm("ApproveUserByCoordinator", "Coordinator", new { userId = Model.Id, value = true }, 
                FormMethod.Post, new { style = "display:inline-block;" }))
                    
            {
                <input type="submit" value="Допустить в систему" class="btn btn-success" />
            }
        </a>
        
    </div>
</div>