body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contact-preheader {
    color: gray;
    font-style: italic;
}


.left-category {
    font-family: Consolas;
    color: cadetblue;
}


.right-category {
    font-family: Consolas;  
    color: black;
}

.right-category a {
    font-family: Consolas;  
    color: royalblue;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label {
	align-self: center;
	border: solid;
	border-color: #428bca;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 700;
	color: #428bca;
	background-color: white;
	display: inline-block;
	padding: 0.625rem 1.25rem;
	margin: 10px 0 10px 0;
	text-overflow: ellipsis;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {
	background-color: #F8F8FF;
}





